:root {
    --blue: #0f627e;
    --pink: #ff7878;
    --bg: #000000;
    --shadow: 0 2px 2px rgb(0 0 0 / .8);
}

body {
    font-size: 1.4rem ;
    font-family: "RocknRoll One", sans-serif;
    min-height: 4000px;
}

.hero::before {
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/foto.jpg);
    background-position: 50% 80%;
    filter:grayscale(100);
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh; 
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}
.hero h1 {
    font-family: "Delicious Handrawn", cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.4rem;
}


.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--blue);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    color: white;
    background-color: var(--pink);
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: "Delicious Handrawn", cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-image: url(/img/3129689_36816.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home h2{
    color: #ff7878;
    font-family: "Delicious Handrawn";
    font-size: 5rem;
}

.home h3 {
    color:#444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #666;
}

.row .couple {
    margin-top: 100px;
}

.home .couple h3 {
    font-family: "Delicious Handrawn";
    font-size: 2.4rem;
    color: var(--pink);
}

.home .couple img {
    width: 100%;
}

/* Media query */

/* laptop */
@media (max-width:992px){
    html {
        font-size: 75%;
    }

    .simply-countdown > .simply-section {
       padding: 70px;
       margin: 10px;
    }

}

/* tablet */
@media (max-width: 768px){
    html {
        font-size: 65%;
    }

    .simply-countdown > .simply-section {
        padding: 60px; 
        margin: 5px;
     }

     .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }
}

/* hp */
@media (max-width: 576px){
    html {
        font-size: 60%;
    }

    .simply-countdown > .simply-section {
        padding: 45px;
        margin: 3px;
     }
}


/*hp lebih kecil*/
@media (max-width: 360px){
    html {
        font-size: 55%;
    }

    .simply-countdown > .simply-section {
        padding: 35px;
        margin: 3px;
     }

     .mynavbar .nav-link {
        font-size: 0.8rem;
        text-align: center;
    }


}