.simply-countdown {
  overflow: hidden;
  display: table;
  margin:auto;
}
.simply-countdown > .simply-section {
  width: 30px;
  height: 30px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 15px;
  background: var(--blue);
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 5);
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section.simply-word {
  display: block;
  text-align: center;
}
